
@media screen and (max-width: 960px){

}

@media screen and (max-width: 768px){
	
}

@media screen and (max-width: 550px){
	nav {
		margin: 10px 0px;
	}

	li a {
	    display: block;
	    width: 60px;
	}

	.img {
		width: 100%;
	}

	.typeCat {		
		width: 100%;
	}
}

@media screen and (max-width: 320px){
	li a {
	    display: block;
	    width: 60px;
	}

	.img {
		width: 100%;
	}

	.typeCat {		
		width: 100%;
	}
}